<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/shopping-cart.png" type="image/x-icon">
  <!-- Box icons -->
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/owl-theme.default.min.css">
  <link rel="stylesheet" href="css/all.min.css">
  
  <link rel="stylesheet" href="css/rangeslider.css">
  <title>GurSer-Söwda web sahypasy</title>
</head>

<body>
  <!-- Header -->
  <header id="home" class="header">

    <!-- Navigation -->
    

  

  <!-- Main -->
  <main>

    <section class="bir bg-white">
    <div class="container">
      <table>
        <tr>
          <td class="text-right gmail"> <a href=""> <img src="images/email.png" alt="" style="width: 20px; height: 20px;"> 
            GurSer@gmail.com</a> </td>

          <td class="border_none phone"><a href="" > <img src="images/phone-call.png" alt="" style="width: 20px; height: 20px;">
             +993 63 74 70 10</a></td>

             <td class="text-right"><a href=""> 
            <img src="images/facebook.png" style="width: 20px; height: 20px;"  alt="">
            <img src="images/instagram.png" style="width: 20px; height: 20px;"  alt="">
            <img src="images/twitter.png" style="width: 20px; height: 20px;" alt="">
            </a>
            </td>

          <td class="border_size"><a href=""><img style="width: 36px; height: 35px;" 
             src="images/iconfinder_265_Ensign_Flag_Nation_turkmenistan_2634441.png" alt=""> English
            </a></td>
          
          <td class="user border_none"> <img src="images/usre.png" alt=""  
            style="width: 20px; height: 20px;"><a href="">Login</a></td>

        </tr>
      </table>
    </div>  
  </section>

  <section class="iki bg-white">
      <div class="container">
        <table>
          <tr>

            <td class="gurser"><a href="">GurSer</a><span>.</span></td>

            <td class="search"> 
              <form action="" method="POST">
                  <select class="catogories">
                    <option value="0">All catogories</option>
                    <option value="1">Audi</option>
                    <option value="2">BMW</option>
                    
                    <input type="text" placeholder="What do you need ?" id="input">
                  </select>
                    <button type="submit" value="search"><img src="images/loupe.png" style="width: 24px; height: 23px;"alt=""></p></button>
              
              </form> 
            </td>

            <td class="shopping"><a href="" >
              <img src="images/heart.png" style="width: 20px; height: 20px;"  alt="">
              <img src="images/shopping-bag.png" style="width: 20px; height: 20px;"  alt="">
            </a></td>
              
            <td class="toleg"><a href=""><p>$150.000</p>
            </a></td>


          </tr>
        </table>
      </div>
  </section>


  <section class="uc">
    <div class="container">
        <table>
          <tr>

            

            <td ><a href="">All depertmants

            </a>
            </td>

            <td > <a href="index.html">Home</a> </td>

            <td><a href="shop.html" >Shop</a></td>
            
            <td > <a href="">Collection</a></td>

              
            <td > <a href="">Blog</a> </td>

            <td class="active"><a href="contact.html" >Contact</a></td>
            
            
            <td class="pages"><a href="" >Pages</a></td>



          </tr>
        </table>
    </div>
  </section>

  
<!-- MAPS -->

<section class="maps">
  <div class="container">
      <div class="row">
          <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12595.99105332207!2d58.3641209!3d37.883735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDUyJzUxLjIiTiA1OMKwMjInMTMuMCJF!5e0!3m2!1str!2snl!4v1611299059472!5m2!1str!2snl" width="1168" height="621" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
      </div>
  </div>
</section>



<section class="contact" id="contact">
  <div class="container">
    
      <div class="row">
          <div class="col-md-5 ara">

              <div class="title">
                  <h3>Contacts Us</h3>
                  <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of classical Latin literature from 45 BC, maki years old.</p>
              </div>

              <div class="content">

                
                  <!-- Info-3 -->
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4 class="d-inline-block">Address:<br>
                    <span>60-49 Road 11378 New York</span></h4>
                </div>

                  <!-- Info-1 -->
                  <div class="info">
                    <i class="fas fa-mobile-alt"></i>
                    <h4 class="d-inline-block">Phone:
                    <br><span>+65 11.188.888</span></h4>
                  </div>
                        
                  <!-- Info-2 -->
                  <div class="info">
                      <i class="fas fa-envelope"></i>
                      <h4 class="d-inline-block">Email:
                      <br><span>hellocolorlib@gmail.com</span></h4>
                  </div>


              </div>
          </div>

          <div class="col-md-6">
              <div class="forms">
                <h3>Leave A Comment</h3>
                <p>Our staff will call back later and answer your questions.</p>
              </div>
            
              <form class="outline">
                  <div class="row">
                      <div class="col-sm-6">
                          <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="email" class="form-control" placeholder="Your Email">
                      </div>
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" rows="5" id="comment" placeholder="Your Message"></textarea>
                  </div>
                  <button class="btn btn-block" type="submit">Send message</button>
              </form>


          </div>
      </div>
  </div>
</section>




    <!-- Brands -->
    <section class="section">
      <div class="brands-center container">
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
      </div>
    </section>



  </main>

  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h1>GurSer</h1>
          <a href="#">Address: 60-49 Road 11378 New York</a>
          <a href="#">Phone: +65 11.188.888</a>
          <a href="#">Email: hello.colorlib@gmail.com</a>
          <div class="footer-icon">
            


          <img src="images/twitter.png" alt="">
          <img src="images/facebook.png"  alt="">
          <img src="images/instagram.png" alt="">
          </div>
        </div>
        <div class="footer-center information">
          <h3>Information</h3>
         <a href="#" >About Us</a>
          <a href="#">Checkout</a>
          <a href="#">Contact</a>
          <a href="#">Serivius</a>
        </div>
        <div class="footer-center">
          <h3>My Account</h3>
          <a href="">My Account</a>
          <a href="">Contact</a>
          <a href="">Shopping cart</a>
          <a href="">Shop</a>
          
        </div>
        <div class="footer-center news">
          <h3>Join Our Newsletter Now</h3>
          <a href="">
            
            Get E-mail updates about our latest shop and special offers.

          </a>
          
          <input type="email" placeholder="Enter Your Email" id="input">
          <button  type="submit"  >Subscribe</button>
          
        </div> 
      </div>
    </div>
    </div>
  </footer>

  <div class="all_right">
    <div class="container">
      <div class="row">
        <div class="col-6"><h5> Copyright &copy; 2021 All right reserved</h5></div>
        <div class="col-6"> 
          <!-- <span class="one_span">
            <img src="images/facebook.png"  alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span> -->
          </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
  <!-- GSAP -->

<script>
  var countdate = new Date("Feb 28, 2021 00:00:00").getTime()

  function soon(){
    var now = new Date().getTime();
    gap = countdate - now

    var seconds = 1000;
    var minuts = seconds * 60;
    var hours = minuts * 60;
    var days = hours * 24;

    var d = Math.floor(gap / (days));
    var h = Math.floor((gap % (days)) / (hours));
    var m = Math.floor((gap % (hours)) / (minuts));
    var s = Math.floor((gap % (minuts)) / (seconds));

    document.getElementById("days").innerText = d;
    document.getElementById("hours").innerText = h;
    document.getElementById("minuts").innerText = h;
    document.getElementById("seconds").innerText = s;

  }

  setInterval(function(){
    soon();
  },1000)
</script>
  <!-- Custom Script -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/index.js"></script>
  
  <script src="js/rangeslider.min.js"></script>

  <script>
  

    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:false,
      autoplay:true,
      autoplayTimeout:2000,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
    })
    
    
    
    
    </script>
</body>

</html>