<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/shopping-cart.png" type="image/x-icon">
  <!-- Box icons -->
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/owl-theme.default.min.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/rangeslider.css">
  <title>GurSer-Söwda web sahypasy</title>
</head>

<body>
  <!-- Header -->
  <header id="home" class="header">

    <!-- Navigation -->
    

  

  <!-- Main -->
  <main>

    <section class="bir bg-white">
    <div class="container">
      <table>
        <tr>
          <td class="text-right gmail"> <a href=""> <img src="images/email.png" alt="" style="width: 20px; height: 20px;"> 
            GurSer@gmail.com</a> </td>

          <td class="border_none phone"><a href="" > <img src="images/phone-call.png" alt="" style="width: 20px; height: 20px;">
             +993 63 74 70 10</a></td>

             <td class="text-right"><a href=""> 
            <img src="images/facebook.png" style="width: 20px; height: 20px;"  alt="">
            <img src="images/instagram.png" style="width: 20px; height: 20px;"  alt="">
            <img src="images/twitter.png" style="width: 20px; height: 20px;" alt="">
            </a>
            </td>

          <td class="border_size"><a href=""><img style="width: 36px; height: 35px;" 
             src="images/iconfinder_265_Ensign_Flag_Nation_turkmenistan_2634441.png" alt=""> English
            </a></td>
          
          <td class="user border_none"> <img src="images/usre.png" alt=""  
            style="width: 20px; height: 20px;"><a href="">Login</a></td>

        </tr>
      </table>
    </div>  
  </section>

  <section class="iki bg-white">
      <div class="container">
        <table>
          <tr>

            <td class="gurser"><a href="">GurSer</a><span>.</span></td>

            <td class="search"> 
              <form action="" method="POST">
                  <select class="catogories">
                    <option value="0">All catogories</option>
                    <option value="1">Audi</option>
                    <option value="2">BMW</option>
                    
                    <input type="text" placeholder="What do you need ?" id="input">
                  </select>
                    <button type="submit" value="search"><img src="images/loupe.png" style="width: 24px; height: 23px;"alt=""></p></button>
              
              </form> 
            </td>

            <td class="shopping"><a href="" >
              <img src="images/heart.png" style="width: 20px; height: 20px;"  alt="">
              <img src="images/shopping-bag.png" style="width: 20px; height: 20px;"  alt="">
            </a></td>
              
            <td class="toleg"><a href=""><p>$150.000</p>
            </a></td>


          </tr>
        </table>
      </div>
  </section>


  <section class="uc">
    <div class="container">
        <table>
          <tr>

            

            <td ><a href="">All depertmants

            </a>
            </td>

            <td > <a href="index.html">Home</a> </td>

            <td class="active"><a href="shop.html" >Shop</a></td>
            
            <td > <a href="">Collection</a></td>

              
            <td > <a href="">Blog</a> </td>

            <td ><a href="contact.html" >Contact</a></td>
            
            
            <td class="pages"><a href="" >Pages</a></td>



          </tr>
        </table>
    </div>
  </section>

  
<!-- MAPS -->
<!-- CAROUSEL START -->
<div class="container">
  <div class="row">

    <div class="col-3">
      <div class="mag">
        <h1>Categories</h1>
        <button>Men</button>
        <button>Women</button>
        <button>Kids</button>
      </div>

      <div class="radio">
        <h1>Size</h1>
        <input type="checkbox" name="" id="" placeholder="">&emsp;Calvin Klein <br>
        <input type="checkbox" name="" id="" placeholder="">&emsp;Diesel <br>
        <input type="checkbox" name="" id="" placeholder="">&emsp;Polo <br>
        <input type="checkbox" name="" id="" placeholder="">&emsp;Tommy Hilfiger <br>
      </div>

      <div class="price">
        <h1>Price</h1>

        
        <button class="hesip">$ <span id="demo">37</span></button>
        <!-- <button class="hesip">$ <span id="demo1"></span></button> -->
<br>

          <input type="range"  min="1" max="100" value="37" class="uytget" id="input-left">
          <!-- <input type="range"  min="1" max="100" value="75" id="input-right"> -->
        
          

        <button class="button1">Filter</button>
      </div>

      <div class="color">
        <h1>Color</h1>

        <input type="radio" name="color" id="black radio"><label for="black-radio" class="black"></label>black
        <input type="radio" name="color" id="violet-radio"><label for="violet-radio" class="violet"></label>violet<br>
        <input type="radio" name="color" id="blue-radio"><label for="blue-radio" class="blue"></label>blue
        <input type="radio" name="color" id="yellow-radio"><label for="yellow-radio" class="yellow"></label>yellow<br>
        <input type="radio" name="color" id="red-radio"><label for="red-radio" class="red"></label>red
        <input type="radio" name="color" id="green-radio"><label for="green-radio" class="green"></label>green
      </div>



      <div class="size">
        <h1>Size</h1>
        <button>S</button>
        <button>M</button>
        <button>L</button>
        <button>XS</button>
      </div>

      <div class="tags">
        <h1>Tags</h1>
               
        <button>Towel</button>
        <button>Shoes</button>
        <button>Coat</button>
        <button>Dresses</button>
        <button>Trousers</button> <br>
        <button>hats</button>
        <button>Backpack</button>
      </div>
      
    </div>

      <div class="col-9" >
        <div class="row">
            <form class="shoping" action="" method="POST">
              <select style="width: 191px;" class="sayla">
                <option  value="0">Default Sorting</option>
              </select>
            </form> 
            <form class="shoping" action="" method="POST">
              <select class="sayla">
                <option value="0">Show : </option>
              </select>
            </form> 
            <span class="onum">Show 01- 09 Of 36 Product</span>
          <div class="shop_ing">
              <div class="item"><img src="images/pic1.jpg" alt="">
              <div class="carousel-details">
              <span class="towel">Towel</span><br>
              <span class="shoes">Converse shoes</span><br>
              <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
              </div>
  
              <div class="item"><img src="images/pic2.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div></div>
  
              <div class="item"><img src="images/pic1.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
                </div>
  
            </div>
            <!-- ikinjisi -->
            <div class="shop_ing">
              <div class="item"><img src="images/pic1.jpg" alt="">
              <div class="carousel-details">
              <span class="towel">Towel</span><br>
              <span class="shoes">Converse shoes</span><br>
              <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
              </div>
  
              <div class="item"><img src="images/pic2.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div></div>
  
              <div class="item"><img src="images/pic1.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
                </div>
  
            </div>
            <!-- ucunji -->
            <div class="shop_ing three">
              <div class="item"><img src="images/pic1.jpg" alt="">
              <div class="carousel-details">
              <span class="towel">Towel</span><br>
              <span class="shoes">Converse shoes</span><br>
              <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
              </div>
  
              <div class="item"><img src="images/pic2.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div></div>
  
              <div class="item"><img src="images/pic1.jpg" alt="">
                <div class="carousel-details">
                  <span class="towel">Towel</span><br>
                  <span class="shoes">Converse shoes</span><br>
                  <span class="toleg">$14.00</span><span style="text-decoration:line-through;">$35.00</span></div>
                </div>
  
            </div>
        </div>
  
    </div>

  </div>
</div>





    <!-- Brands -->
    <section class="section">
      <div class="brands-center container">
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand1.png" alt="" />
        </div>
        <div class="brand">
          <img src="./images/brand2.png" alt="" />
        </div>
      </div>
    </section>



  </main>

  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h1>GurSer</h1>
          <a href="#">Address: 60-49 Road 11378 New York</a>
          <a href="#">Phone: +65 11.188.888</a>
          <a href="#">Email: hello.colorlib@gmail.com</a>
          <div class="footer-icon">
            


          <img src="images/twitter.png" alt="">
          <img src="images/facebook.png"  alt="">
          <img src="images/instagram.png" alt="">
          </div>
        </div>
        <div class="footer-center information">
          <h3>Information</h3>
         <a href="#" >About Us</a>
          <a href="#">Checkout</a>
          <a href="#">Contact</a>
          <a href="#">Serivius</a>
        </div>
        <div class="footer-center">
          <h3>My Account</h3>
          <a href="">My Account</a>
          <a href="">Contact</a>
          <a href="">Shopping cart</a>
          <a href="">Shop</a>
          
        </div>
        <div class="footer-center news">
          <h3>Join Our Newsletter Now</h3>
          <a href="">
            
            Get E-mail updates about our latest shop and special offers.

          </a>
          
          <input type="email" placeholder="Enter Your Email" id="input">
          <button  type="submit"  >Subscribe</button>
          
        </div> 
      </div>
    </div>
    </div>
  </footer>

  <div class="all_right">
    <div class="container">
      <div class="row">
        <div class="col-6"><h5> Copyright &copy; 2021 All right reserved</h5></div>
        <div class="col-6"> 
          <!-- <span class="one_span">
            <img src="images/facebook.png"  alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span>
          <span>
            <img src="images/facebook.png" alt=""></span> -->
          </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
  <!-- GSAP -->
  <!-- Custom Script -->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/rangeslider.min.js"></script>

<script>
  var slider = document.getElementById("input-left");
  var output = document.getElementById("demo");

  slider.oninput = function (){
    output.innerHTML = this.value
  };

  // var slider = document.getElementById("input-left");
  // var output = document.getElementById("demo");

  // slider.oninput = function (){
  //   output.innerHTML = this.value
  // }


</script>
</body>

</html>